include mixins
include navigation
doctype 5
html
    head
        title= title
        link(rel='stylesheet', type="text/css", href='/vendor/bootstrap/css/bootstrap.css')
        link(rel="stylesheet", type="text/css", href="/vendor/highlight.js/styles/solarized_light.css")
        link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
        style.
            .content:before{
                content: "#{__("drop-images-and-other-media")}";
            }
            .tags:after {
                content: "#{__("tags-description")}";
            }
        script(type='text/javascript', src='/vendor/sprintf.min.js')
        script(type='text/javascript', src='/javascripts/locale.js')
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script.
            window.jQuery || document.write('<script src="/vendor/jquery-1.7.1.min.js"><\/script>')
        script(type='text/javascript', src='/vendor/bootstrap/js/bootstrap.js')

    body
        mixin navigation
        .container(class=page && page.deleted ? "deleted" : "")
            #messages.messages
            if page && page.deleted
                .alert.alert-warning= __("page-status-deleted")
            .row
                .span3
                    block navigation
                        mixin renderNavigation(navigation)
                    block pagemeta

                .span9
                    -if (breadcrumbs.length)
                        ul.breadcrumb
                            each breadcrumb in breadcrumbs
                                li
                                    a(href=breadcrumb.path)= breadcrumb.segment
                                    span.divider #

                    block content

        .scripts
            script(type="text/javascript", src='/vendor/ckeditor/ckeditor.js')
            script(src="/vendor/highlight.js/highlight.pack.js")
            script(type="text/javascript", src="/javascripts/app.js")

