include mixins
doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
    link(rel="stylesheet", href="/vendor/highlight.js/styles/solarized_light.css")
    script(type='text/javascript', src='/vendor/requirejs/require.min.js')
    script(type='text/javascript', src='/vendor/sprintf.min.js')
    script(type='text/javascript', src='/javascripts/locale.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script
        window.jQuery || document.write('<script src="/vendor/jquery-1.7.1.min.js"><\/script>')
    script(type='text/javascript', src='/vendor/bootstrap/js/bootstrap.js')

  body
      .navbar.navbar-static-top.navbar-inverse
          .navbar-inner
              a.brand(href="/")= siteName
              ul.nav
                  li
                      a(href="/pages") All Pages
                  li
                      a(href="/tags") All Tags
                  li
                      a(href="/versions") Version History
                  li.dropdown
                      a.dropdown-toggle(href="#", data-toggle="dropdown")
                          | Changes
                          b.caret

                      ul.dropdown-menu

                          li.nav-header Latest Pages
                          each page in latest
                              li
                                  a(href=page.path)= page.title

                          li.nav-header Recent Changes
                          each page in recentChanges
                              li
                                  a(href=page.path)= page.title

                ul.nav.pull-right
                    li.dropdown.pull-right
                        a.dropdown-toggle(href="#", data-toggle="dropdown")
                            | Tasks
                            b.caret
                        ul.dropdown-menu
                            li: a#move-page(href="#") Move Page

                form.navbar-search.pull-right(action="/search", method="GET")
                    input.search-query(type="text", placeholder="Search", name="q", id="q")

        .container
            #messages.messages
            .row
                .span3
                    block navigation
                        mixin renderNavigation(navigation)
                    block pagemeta

                .span9
                    -if (breadcrumbs.length)
                        ul.breadcrumb
                            each breadcrumb in breadcrumbs
                                li
                                    a(href=breadcrumb.path)= breadcrumb.segment
                                    span.divider #

                    block content

        .scripts
            script(type="text/javascript", src='/vendor/ckeditor/ckeditor.js')
            script(src="/vendor/highlight.js/highlight.pack.js")
            script(type="text/javascript", src="/javascripts/application.js")

