mixin renderNavigation(navigationItems)
    if navigationItems.length
        h3= __("sub-pages")
        ul.nav.nav-list
            each navigationItem in navigationItems
                li
                    a(href=navigationItem.path)= navigationItem.title

mixin attachments(files)
    h3= __("attachments")
    ul#attachments.attachments.plain-list
        for file in files
            li
                a(href="/attachments/#{page._id}/#{file}", title="#{file}")
                    i.icon-file
                    = file
                a.icon-remove-sign

mixin fileDropper
    if page && !page.deleted
        #drop-zone.drop-here= __("drop-files-here")

mixin images(files)
    h3= __("images")
    div.imagesDesc= __("drop-images-and-other-media")
    ul#images.images.plain-list
        for file in files
            li
                a(href="/images/#{page._id}/#{file}", title="#{file}")
                    i.icon-picture
                    = file
                a.icon-remove-sign

mixin versionLink(page)
    h3= __("versions")
    a(href="/versions/#{page._id}")= __("show-versions")

mixin languageSwitcher
    if locales.length > 1
        li.dropdown.pull-right
            a.dropdown-toggle(href="#", data-toggle="dropdown")
                = __("language")
                b.caret
            ul.dropdown-menu.language-switcher
                for locale in locales
                    li(class=locale == currentLocale? 'active': ''): a(href="##{locale}")= locale

