extends layout

block main
    div.navbar
        div.navbar-inner
            a(href="#").brand= __("all-pages")
            ul.nav
                li
                    a(href="/pages")= __("list")
                li.active
                    a(href="/pages/covers")= __("cover")
    ul
        each page in pages
            li.preview
                a(href=page.path)
                    img(src="#{page.image}").img-polaroid
                    p= page.title
