extends layout

block content
    .btn-group
        if previous
            a.btn(href="/versions/#{page._id}/#{previous._id}")= __("previous")
        else
            span.btn.disabled= __("previous")
        if next
            a.btn(href="/versions/#{page._id}/#{next._id}")= __("next")
        else
            span.btn.disabled= __("next")

    h1= __("version-for", page.title)
    small= __("modified-by", version.lastmodified)

    dl
        dt= __("title")
        dd= version.title

        dt= __("uri")
        dd= version.path

        dt= __("modified by")
        dd= version.modifiedBy

        dt= __("last modified")
        dd= version.lastModified

        dt= __("content")
        dd!= version.content

        dt= __("tags")
        dd= version.tags.join(", ")

    form(method="POST", action="/versions/#{page._id}/#{version._id}/restore")
        input.pull-right(type="submit").btn.btn-danger(href="#{page.path}", value=__("restore"))
    a.btn.btn-primary(href="#{page.path}")= __("back-to-page")
