extends layout

block content
    if(document && document.versions)
        table.table.tVable-bordered
            tr
                th Title
                th Modified By
                th Date Modified
                th Date Created
            each version in document.versions
                tr
                    td: a(href="/versions/#{page._id}/#{version._id}")= version.title
                    td= version.modifiedBy
                    td= version.lastModified
                    td= version.created
    else
        h1 No versions yet

    a.btn.btn-primary(href="#{page.path}") Back to page
