mixin renderStaticNavigation(navigationContent)
    h3 Navigation
    div#staticNavigation.staticNavigation.well!=navigationContent

mixin renderNavigation(navigationItems)
    h3 Sub pages
    ul.nav.nav-list

        each navigationItem in navigationItems
            li
                a(href=navigationItem.path)= navigationItem.title

mixin attachments(files)
    h3 Attachments
    ul#attachments.attachments.plain-list
        for file in files
            li 
                a(href="/attachments/#{page._id}/#{file}", title="#{file}")
                    i.icon-file
                    = file
                a.icon-remove-sign

mixin fileDropper
    #drop-zone.drop-here drop files here

mixin images(files)
    h3 Images
    div.imagesDesc Drop images and other media in the content editing area.
    ul#images.images.plain-list
        for file in files
            li 
                a(href="/images/#{page._id}/#{file}", title="#{file}")
                    i.icon-picture
                    = file
                a.icon-remove-sign

mixin versionLink(page)
    h3 Versions
    a(href="/versions/#{page._id}") Show versions