extends layout

block content
    .btn-group
        if previous
            a.btn(href="/versions/#{page._id}/#{previous._id}") Previous
        else
            span.btn.disabled Previous
        if next
            a.btn(href="/versions/#{page._id}/#{next._id}") Next
        else
            span.btn.disabled Next

    h1 Version for #{page.title}
    small from #{version.lastModified}

    dl
        dt Title
        dd= version.title

        dt URI
        dd= version.path

        dt Modified by
        dd= version.modifiedBy

        dt Last modified
        dd= version.lastModified

        dt Content
        dd!= version.content

        dt Tags
        dd= version.tags.join(", ")

    form(method="POST", action="/versions/#{page._id}/#{version._id}/restore")
        input.pull-right(type="submit").btn.btn-danger(href="#{page.path}", value="Restore")
    a.btn.btn-primary(href="#{page.path}") Back to page
