extends layout

block content
    if(document && document.versions)
        table.table.tVable-bordered
            tr
                th Titel
                th Verändert von
                th Verändert am
            each version in document.versions
                tr
                    td: a(href="/versions/#{page._id}/#{version._id}")= version.title
                    td= version.modifiedBy
                    td= version.lastModified
    else
        h1 No versions yet

    a.btn.btn-primary(href="#{page.path}") Zurück zur Seite
